body{
    background-color: #27102d;
    align-items: center;
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: whitesmoke

}
h1 {
    font-weight: bolder; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke;
    text-align: center;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: white;
    border: solid 2px orangered;
    border-radius: 20px 0 20px 0; width: 720px;
    padding: 10px;
    text-align: center;
    background-color: orangered;
    }
img {
    border-radius: 0 20px 0 20px;
}
    ol {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: whitesmoke;
        border: solid 3px green; width: 700px;
        border-radius: 20px 0 20px 0;
    }
    li {
        font-weight: bolder; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke;                    
        margin: 10px 0 10px 0;
        padding: 2px 5px 2px 10px;
        border: solid 3px purple;
        border-radius: 0 10px 10px 0; width: 650px;
    }